body {
    //border: 1px solid blue;
    margin: 0;
    padding: 0;
    font-family: 'Georgia';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

header {
    border-bottom: 1px solid rgb(207,236,247);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

main {
    // border: 1px solid red;
    margin-bottom: 4rem;
    width: 100%;
    max-width: 800px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

section {
    // border: 1px solid green;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
}

a {
    text-decoration-thickness: 1px;
}

h1, h2, p {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

h2 {
    font-size: 2rem;
}

#navbar a {
    text-decoration: none;
}

#banner {
    // border: 1px solid blue;
    height: calc(100vh - 3rem);
    width: 100%;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

#banner-id {
    //border: 1px solid yellow;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-image {
    //border: 1px solid orange;
    position: relative;
    text-align: right;
    width: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-image img {
    width: 100%;
}

#iaredgallus {
    margin-top: 2rem;
    margin-bottom: 0;
    color: rgb(28,150,197); // rgb(98,193,229); //rgb(160,217,239);
    font-size: 2.5rem;
    font-style: italic;
}

#jaredhawn {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.75rem;
}

#navbar, #contact, .quickview {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#quickview-desktop {
    // border: 1px solid purple;
}

#quickview-mobile {
    display: none;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

.quickview li {
    // border: 1px solid rgb(207,236,247);
    color: rgb(60,60,60);
    background-color: rgb(160,217,239);
    list-style: none;
    padding: 0.75rem;
    margin-left: 0.75rem;
}

.quickview li:hover {
    background-color: rgb(207,236,247);
    transition: background-color 0.2s ease-in-out;
}

#logo {
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(18,140,187); // rgb(28,150,197);
}

#about {
    background-color: rgb(207,236,247);
}

footer {
    //border: 1px solid yellow;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 100%);
}

#contact {
    // border: 1px solid rgb(240,240,240);
    width: calc(800px / 3);
    height: 3rem;
    border-radius: 2rem;
    background-color: white; // rgb(160,217,239); // rgb(98,193,229);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact img {
    width: 2rem;
}

#contact a {
    color: rgb(60,60,60);
    text-decoration: none;
}

#contact a:hover {
    color: rgb(28,150,197);
    transition: color 0.2s ease-in-out;
}

#contact li {
    list-style: none;
}

@media screen and (max-width: 640px) {
    header {
        height: 3rem;
    }

    footer {
        height: 6rem;
    }
    
    #banner {
        flex-direction: column;
        justify-content: left;
        align-items: center;
        min-width: 0;
        height: 100vh;
    }

    #banner-id {
        margin-bottom: 1rem;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    #iaredgallus {
        font-size: 2.25rem;
    }

    #jaredhawn {
        font-size: 2.5rem;
    }

    #banner-image {
    }

    #quickview-desktop {
        display: none;
    }

    #quickview-mobile {
        padding-top: 1rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quickview li {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #navbar li {
        padding: 0.75rem;
    }

    #contact {
    }

    #contact img {
        width: 2rem;
    }
}