html {
    font-size: 18px;
}

body {
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Cambria';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    color: #0e1b25;
}

table {
    font-size: 1rem;
}

header {
    border-bottom: 1px solid #dae7f1;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

main {
    /* margin-bottom: 4rem; */
    margin: 1.5rem 0 7rem 0;
    width: 100%;
    max-width: 800px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

/*
section {
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
*/

a {
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: #91b6d4;
    color: #2b506e;
}

a:hover {
    color: #91b6d4;
}

p, table {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

h1, h2, h3, p, table {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-size: 2rem;
    padding: 1.5rem 0;
    color: white;
    text-align: center;
    background-color:#2b506e;
    width: 100%;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    color: #2b506e;
}

h3 {
    font-size: 1.25rem;
}

ul {
    line-height: 1.5;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar, #contact, .quickview {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#logo-circle {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

footer {
    /* border: 1px solid yellow; */
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 100%);
}

#contact {
    /* border: 1px solid rgb(240,240,240); */
    width: calc(800px / 3);
    height: 3.5rem;
    border-radius: 2rem;
    background-color: white; /* rgb(160,217,239); /* rgb(98,193,229); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact img {
    width: 2rem;
}

#contact a:hover {
    transition: color 0.2s ease-in-out;
}

#contact li {
    list-style: none;
}

.verylightsteel {
    color: #dae7f1;
}

.lightsteel {
    color: #91b6d4;
}

.steel {
    color: #4785b8;
}

.darksteel {
    color: #2b506e;
}

.verydarksteel {
    color: #0e1b25;
}

.background-verylightsteel {
    background-color: #dae7f1;
}

.background-lightsteel {
    background-color: #91b6d4;
}

.background-steel {
    background-color: #4785b8;
}

.background-darksteel {
    background-color: #2b506e;
}

.background-verydarksteel {
    background-color: #0e1b25;
}

.resume-section {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
}

.resume-table {
    width: 100%;
    padding: 0 1rem;
    border-spacing: 0;
}

.resume-table td {
    /* border: 1px solid #dae7f1; */
    vertical-align: top;
    margin: 0;
    padding: 0.5rem;
}

#languages, #products {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

#languages li, #products li {
    /* border: 1px solid #91b6d4; */
    margin: 0.25rem;
    padding: 0.125rem 0.25rem;
    border-radius: 0.5rem;
}

.lang-js, .lang-html, .lang-css, .lang-liquid, .prod-slate {
    background-color: #6c9dc6;
    opacity: 0.9;
}

.lang-py, .lang-sql, .prod-salesforce, .prod-jira {
    background-color: #a3c2db;
    opacity: 0.9;
}

.lang-java, .lang-c {
    background-color: #dae7f1;
    opacity: 0.9;
}

.work-title, .writing-title {
    transition: background-color 0.4s ease-out;
}

.work-details, .contributions {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.work-details-td, .contributions-td {
    display: none;
}

.visible {
    opacity: 1;
}

.work-details-ul span {
    padding: 0.125rem 0.25rem;
    border-radius: 0.5rem;
}

#products li a {
    color: #0e1b25;
    text-decoration-color: #0e1b25;
}

.arrow-td {
    width: 0.5rem;
    vertical-align: middle !important;
}

.arrow-right {
    width: 0;
    height: 0;
    border-left: 0.7rem solid #2b506e;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    padding-right: 0.3rem;
}

.arrow-down {
    width: 0;
    height: 0;
    border-top: 0.7rem solid #91b6d4;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent; 
}

#experience td, #education td, #teaching td, #writing td {
    vertical-align: middle;
}

#experience-help {
    padding-left: 1.5rem;
    color: #2b506e;
    opacity: 0.8;
}

.work-details-ul {
    padding-left: 1.5rem;
}

.bold {
    font-weight: bold;
}

.contributions-ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.contributions td p {
    font-style: italic;
    padding: 0;
    margin: 0;
}

.final-section {
    padding-bottom: 4rem;
}

/* ========== MEDIA QUERY: DESKTOP ========== */

@media screen and (min-width: 640px) {
    .left {
        width: 160px;
    }

    #experience .left, #writing .left {
        width: 130px;
    }

    .middle {
        width: 80px;
    }
}

/* ========== MEDIA QUERY: < 800px ========== */

@media screen and (max-width: 800px) {
    main {
        margin: 0;
        box-shadow: none;
    }

    .final-section {
        padding-bottom: 8rem;
    }
}

/* ========== MEDIA QUERY: MOBILE ========== */

@media screen and (max-width: 640px) {
    html {
        font-size: 16px;
    }

    header {
        height: 3rem;
    }

    footer {
        height: 6rem;
    }

    body, table {
        font-size: 1rem;
    }
    
    /*
    #banner {
        flex-direction: column;
        justify-content: left;
        align-items: center;
        min-width: 0;
        height: 100vh;
    }

    #banner-id {
        margin-bottom: 1rem;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    #iaredgallus {
        font-size: 2.25rem;
    }

    #jaredhawn {
        font-size: 2.5rem;
    }

    #quickview-desktop {
        display: none;
    }

    #quickview-mobile {
        padding-top: 1rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quickview li {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    */

    #navbar li {
        padding: 0.75rem;
    }

}

@media screen and (max-width: 360px) {
    html {
        font-size: 14px;
    }

    header {
        height: 6rem;
    }
    
    #navbar {
        flex-wrap: wrap;
    }
}